ai-hr-automation-workflows/AI HR Policy & Benefits Chatbot.json
{
  "name": "AI HR Policy & Benefits Chatbot",
  "nodes": [
    {
      "parameters": {},
      "id": "4a0f9072-b13a-4e77-94bb-9059b0abc46d",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        2512,
        1856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "8aab44d8-a3d7-489a-9176-b2fc190adb07",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        3856,
        2048
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e9b449a7-1f53-4745-a2b2-229047f4f5c8",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        3584,
        2176
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "99d33a12-83b3-4ccc-a862-aa5fa34446a0",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        3824,
        2176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f5b1ce0d-7fd3-43f5-8f57-e3e64e4da41d",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2752,
        2624
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fa6c698d-ff81-498d-bcd6-ec49f629bceb",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2592,
        2624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "company_files",
        "description": "Retrieves information from the company handbook, 401k policies, benefits overview, and expense policies available to all employees.",
        "topK": 5
      },
      "id": "5dd3b620-6cc8-4067-a48a-5061faba38b0",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        2880,
        2672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a408f943-1535-493b-82ff-f00dab381301",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2976,
        2896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c2f7267-81ce-464f-b29f-f03fd4f0aa02",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2704,
        2992
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "employee_lookup_tool",
        "description": "Call this tool with the full name of an employee to retrieve their details from our HRIS, including their job title, department, and supervisor. If an employee name is not provided, you may call this tool with a department name to retrieve the most senior person in that department. This tool requires an exact match on employee names but can infer the senior-most person for a department query.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"name\": \"The name of an employee or department\"\n}"
      },
      "id": "74e13ed9-4333-4189-94bb-7312790429ec",
      "name": "Employee Lookup Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        3200,
        2656
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9824c007-f750-4af9-abdc-eb242c27622f",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3712,
        2784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b37d5eae-aef6-41ab-892c-62e758a579c1",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        4704,
        2928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "aed4c801-a42f-4612-9645-899a022b1501",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        5440,
        3040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5ef988c9-7145-4deb-8d7f-bf9ab927e72b",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "position": [
        5632,
        2896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"name\": \"The name of an employee\"\n}"
      },
      "id": "d08ec27b-95ca-4824-8cf9-8cf9f94ed9cf",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        5760,
        3056
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## STEP -1: Fetch company policies and load them into a vector database",
        "height": 615,
        "width": 1695,
        "color": 7
      },
      "id": "56c98212-4c19-46da-a0c3-c7004706bb3a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        1712
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI HR Assistant for Policies & Employee Support",
        "height": 829,
        "width": 874,
        "color": 4
      },
      "id": "0d977fcd-c9c3-4a80-808e-9c33bb444dff",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        2368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## (Optional) STEP #2: Set up employee lookup tool",
        "height": 830,
        "width": 2783,
        "color": 7
      },
      "id": "0a9c57a9-13e7-4a24-aa7b-f638db9e334d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3344,
        2368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "getAll",
        "returnAll": true,
        "simplifyOutput": false
      },
      "id": "2c4e7ee5-b494-4c3a-809d-29f61319f1e2",
      "name": "GET all files",
      "type": "n8n-nodes-base.bambooHr",
      "position": [
        2720,
        1856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Toggle **off** the _simplify_ option to ensure categories are retrieved as well",
        "height": 99.24268260893132,
        "width": 177.89252000024067,
        "color": 5
      },
      "id": "82b4d9a0-6992-4977-b9db-10d5c707bc80",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        2016
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b85b86cd-0b54-4348-a538-8ff4ae625b9a",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "=Company Files"
            }
          ]
        },
        "options": {}
      },
      "id": "ed2ea853-48b7-42a2-a159-429e3d429f1a",
      "name": "Filter out files from undesired categories",
      "type": "n8n-nodes-base.filter",
      "position": [
        2912,
        1856
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "id": "99146d34-32fc-4259-ba94-0abd1b05134d",
      "name": "Split out individual files",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        3120,
        1856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "73cc2cb9-04fa-43e7-a459-de0bf26ffb18",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.originalFileName.endsWith(\".pdf\") }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "150e42cb-e402-4906-a075-2e747c40cefb",
      "name": "Filter out non-pdf files",
      "type": "n8n-nodes-base.filter",
      "position": [
        3312,
        1856
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "a10ee5c0-79e7-447d-9c62-1edd8257a24e",
      "name": "Download file from BambooHR",
      "type": "n8n-nodes-base.bambooHr",
      "position": [
        3520,
        1856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "company_files",
          "cachedResultName": "company_files"
        },
        "options": {
          "queryName": "match_files"
        }
      },
      "id": "f1b7d681-a22d-44f0-b045-0227e0aaf14d",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        3712,
        1856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "This Employee Lookup Tool extends the HR chatbot by letting it retrieve employee and department contact details directly from BambooHR.",
        "height": 80,
        "width": 531,
        "color": 5
      },
      "id": "eaeb9282-776d-4d7d-8fd2-4109642fdc16",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3360,
        2432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d644b7cf-6c6d-403a-9633-ec8180a6417f",
      "name": "Employee initiates a conversation",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        2512,
        2432
      ],
      "webhookId": "27ec9df7-5007-4642-81c7-7fcf7e834c43",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "company_files",
          "cachedResultName": "company_files"
        },
        "options": {
          "queryName": "match_files"
        }
      },
      "id": "dc218556-218c-49ed-aa3b-7c188df65645",
      "name": "Supabase Vector Store Retrieval",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2704,
        2832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### AI Chatbot Operating Guidelines\n\n- When an employee asks for a contact person, first search `company_files` for the most relevant contact.\n- If a contact is found but details such as email or phone number are missing, use `employee_lookup_tool` to retrieve the missing information.\n- If no contact is found in `company_files`:\n  1. Use `employee_lookup_tool` with `\"HR\"` or the most relevant department name to find the senior-most person in that department.\n  2. If no department contact is found, ask the employee for their name.\n  3. Use `employee_lookup_tool` to identify the employee’s supervisor.\n  4. Use `employee_lookup_tool` again to retrieve the supervisor’s contact details.\n  5. Share the supervisor’s contact information and recommend them as the best next point of contact.",
        "height": 585,
        "width": 706
      },
      "id": "e7b967ca-54db-4ce9-9164-95a8079829f0",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5008,
        1728
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ba7e02ff-f175-460f-aa6f-290c0d51cb13",
      "name": "AI-Powered HR Benefits and Company Policies Chatbot",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        3392,
        2624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputText": "={{ $json.query.name }}",
        "categories": {
          "categories": [
            {
              "category": "person",
              "description": "This is the name of a person."
            },
            {
              "category": "department",
              "description": "This is the name of a department within the company."
            }
          ]
        },
        "options": {}
      },
      "id": "95b0f112-f136-45b6-918d-74978a3fd398",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        3600,
        2624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true
      },
      "id": "832fa420-923c-4adf-b615-2006956f782d",
      "name": "GET all employees",
      "type": "n8n-nodes-base.bambooHr",
      "position": [
        4016,
        2528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e80c892e-21dc-4d6e-8ef6-c2ffaea6d43e",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.displayName }}",
              "rightValue": "={{ $('AI-Powered HR Benefits and Company Policies Chatbot').item.json.query.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a813f3fe-8096-4c86-a2f9-0708a3003a16",
      "name": "Filter out other employees",
      "type": "n8n-nodes-base.filter",
      "position": [
        4224,
        2528
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73ae7ef0-339a-4e32-bbc9-c40cefd37757",
              "name": "response",
              "type": "string",
              "value": "={{ $json.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7cf0e24a-ca3d-4aa6-81e8-31ba812246a5",
      "name": "Stringify employee record for response",
      "type": "n8n-nodes-base.set",
      "position": [
        4416,
        2528
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true
      },
      "id": "4af07969-5559-44aa-a047-82f1ab8d707d",
      "name": "GET all employees (second path)",
      "type": "n8n-nodes-base.bambooHr",
      "position": [
        4016,
        2736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "department",
              "renameField": true,
              "outputFieldName": "departments"
            }
          ]
        },
        "options": {}
      },
      "id": "c76b563a-b404-47f8-9060-a61ea1d86757",
      "name": "Extract departments",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        4224,
        2736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34f456ff-d2c5-431f-ade3-ace48abd0c6a",
              "name": "departments",
              "type": "array",
              "value": "={{ $json.departments.unique() }}"
            },
            {
              "id": "cf31288a-65fc-45c6-8b6f-6680020dce09",
              "name": "query",
              "type": "string",
              "value": "={{ $('Text Classifier').item.json.query.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8783cc29-1b7c-48cf-bbc8-4ca698d03a0c",
      "name": "Ensure uniqueness in department list",
      "type": "n8n-nodes-base.set",
      "position": [
        4416,
        2736
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "text": "={{ $json.query }}",
        "attributes": {
          "attributes": [
            {
              "name": "department",
              "description": "=The department from the following list that would be most applicable:\n{{ $json.departments }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4a7a37d-1347-4324-871b-83c1a57828ac",
      "name": "Extract department",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        4624,
        2736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true
      },
      "id": "2acdcd88-ecdd-4894-9e21-6c1acd104888",
      "name": "Retrieve all employees",
      "type": "n8n-nodes-base.bambooHr",
      "position": [
        4976,
        2736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a88bf53c-ecfd-49a7-8180-1e8b8eaeb6fd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.department }}",
              "rightValue": "={{ $('Extract department').item.json.output.department }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6282003-ad6e-45e4-83df-a5b2e824b971",
      "name": "Filter out other departments",
      "type": "n8n-nodes-base.filter",
      "position": [
        5184,
        2736
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "department_employees",
        "include": "specifiedFields",
        "fieldsToInclude": "id, displayName, jobTitle, workEmail",
        "options": {}
      },
      "id": "dc82e9f4-e9bc-4492-8d98-1b3d0f8da107",
      "name": "Extract relevant employee fields",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        5376,
        2736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Who is the most senior employee from this list:\n{{ $json.department_employees.toJsonString() }}",
        "hasOutputParser": true
      },
      "id": "ebb8c1b0-717a-4c9f-9e5b-c72c3a06c053",
      "name": "Identify most senior employee",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        5552,
        2736
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b4412bf-142b-4ba0-a6b2-654e97c263e5",
              "name": "response",
              "type": "string",
              "value": "={{ $json.output.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "02f86ae6-dd28-4bd1-b005-bd6204ae05a9",
      "name": "Format name for response",
      "type": "n8n-nodes-base.set",
      "position": [
        5920,
        2736
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful HR assistant accessible by employees at our company.\n\nObjective: \nAssist employees with questions regarding company policies, documents, and escalation procedures.\n\nTools: \n1. A vector store database (company_files) containing the company handbook, 401k policy, expense policy, and employee benefits. \n2. An employee lookup tool (employee_lookup_tool) that retrieves details about an employee when provided with their name. It can also retrieve the most senior person in a department if given a department name. \n\nGuidelines: \n- When an employee asks for a contact person, first attempt to find the relevant contact in company_files. \n- If a contact person is found but their details (e.g., email or phone number) are missing, use the `employee_lookup_tool` to retrieve their contact details. \n- If no contact person is found: \n 1. Use the `employee_lookup_tool` with \"HR\" (or another relevant department) to retrieve the most senior person in that department. \n 2. If no senior contact is found, ask the employee for their name. \n 3. Use the `employee_lookup_tool` to retrieve their supervisor’s name. \n 4. Use the `employee_lookup_tool` to retrieve their supervisor’s details. \n 5. Provide the supervisor's contact information and recommend them as the best next point of contact. \n"
        }
      },
      "id": "7e2adfdd-9531-4dc9-b942-3b452a5c2c1f",
      "name": "HR AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2800,
        2432
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "### Find employee by name\nThis path is used when the chatbot needs details for a specific employee. It searches BambooHR for an exact name match and returns that employee’s record. It may also be used again to fetch the details of that employee’s supervisor.",
        "height": 122,
        "width": 543,
        "color": 5
      },
      "id": "ab359dd4-07d6-4eb9-af9b-9c805c86abdc",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4000,
        2384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Find senior contact by department\nThis path is used when the chatbot needs a department contact instead of a specific person. It identifies the relevant department, finds employees in that department, and selects the most senior person as the recommended contact.",
        "height": 137,
        "width": 543,
        "color": 5
      },
      "id": "d0337953-4796-4d29-b454-8243072b6112",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4000,
        2912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Final node returns employee name\nThe AI Agent can then call the employee lookup path to retrieve details, if requested.",
        "height": 97.8161667645835,
        "width": 300.8019702746294,
        "color": 5
      },
      "id": "4099271f-65af-4dae-b315-e7593196c014",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5776,
        2608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI HR Policy & Benefits Chatbot\n\nThis workflow builds an internal HR assistant that answers employee questions using company policy documents and BambooHR data.\n\n## What it does\n- Pulls company policy PDFs from BambooHR\n- Splits and embeds documents for semantic search\n- Stores them in Supabase vector store\n- Lets employees ask HR questions in chat\n- Retrieves answers from handbook, benefits, 401k, and expense policies\n- Can also look up employee or department contacts from BambooHR\n\n## Use cases\n- Internal HR helpdesk\n- Employee self-service\n- Policy and benefits Q&A\n- Contact lookup for departments or managers\n\n## Notes\n- Requires BambooHR, OpenAI, and Supabase setup\n- Best for internal company knowledge bases\n- Can be extended with Slack, Teams, or website chat",
        "height": 624,
        "width": 752,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4192,
        1712
      ],
      "typeVersion": 1,
      "id": "80fd471d-fb55-4fe6-93ac-011b8e68ea67",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {
    "AI-Powered HR Benefits and Company Policies Chatbot": [
      {
        "json": {
          "query": {
            "name": "HR"
          }
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GET all files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "HR AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "HR AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "HR AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store Retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Employee Lookup Tool": {
      "ai_tool": [
        [
          {
            "node": "HR AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Extract department",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Identify most senior employee",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Identify most senior employee",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GET all files": {
      "main": [
        [
          {
            "node": "Filter out files from undesired categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out files from undesired categories": {
      "main": [
        [
          {
            "node": "Split out individual files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out individual files": {
      "main": [
        [
          {
            "node": "Filter out non-pdf files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out non-pdf files": {
      "main": [
        [
          {
            "node": "Download file from BambooHR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file from BambooHR": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Employee initiates a conversation": {
      "main": [
        [
          {
            "node": "HR AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store Retrieval": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "AI-Powered HR Benefits and Company Policies Chatbot": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "GET all employees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET all employees (second path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET all employees": {
      "main": [
        [
          {
            "node": "Filter out other employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out other employees": {
      "main": [
        [
          {
            "node": "Stringify employee record for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET all employees (second path)": {
      "main": [
        [
          {
            "node": "Extract departments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract departments": {
      "main": [
        [
          {
            "node": "Ensure uniqueness in department list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure uniqueness in department list": {
      "main": [
        [
          {
            "node": "Extract department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract department": {
      "main": [
        [
          {
            "node": "Retrieve all employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all employees": {
      "main": [
        [
          {
            "node": "Filter out other departments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out other departments": {
      "main": [
        [
          {
            "node": "Extract relevant employee fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract relevant employee fields": {
      "main": [
        [
          {
            "node": "Identify most senior employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify most senior employee": {
      "main": [
        [
          {
            "node": "Format name for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a3dfea6-c776-4860-904e-cdcdb0c09287",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e6f3ac3144893b6e147028a714235896dc8288132d5642eebb46b1fbd83fcfc"
  },
  "id": "jyVWqWSWF30SCAvk",
  "tags": []
}