ai-hr-automation-workflows/HR AI Screening Assistant.json
{
  "name": "HR AI Screening Assistant",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "757ee61f-8099-487b-ad2b-a7c67cd23b29",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        352,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ $('Application Form').item.json['E-mail'] }}",
        "subject": "We Have Received Your CV",
        "message": "=Dear {{ $('Application Form').item.json['Full Name'] }}, \n\nThank you for submitting your CV. We have received it and will review it shortly. \n\nBest regards,\nMediusware",
        "options": {}
      },
      "id": "86705709-13ff-4a8c-b19c-4395349b5547",
      "name": "Confirmation of CV Submission",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1104,
        -64
      ],
      "webhookId": "954756dc-2946-4b78-b208-06f3df612ab5",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "sendTo": "sarfaraz@mediusaware.com",
        "subject": "New Candidate CV Awaiting Review",
        "message": "=Hello HR,\n\nA new CV has been successfully received in our system. Please review the candidate's details at your earliest convenience.\n\nCandidate Name: {{ $('Application Form').item.json['Full Name'] }}\nCandidate E-mail: {{ $('Application Form').item.json['E-mail'] }}\nCandidate Linkedin: {{ $('Application Form').item.json.Linkedin }}\nCandidate Expectation: {{ $('Application Form').item.json.Expectation }}\nCandidate AI Rating: {{ $('Using AI Analysis & Rating').item.json.text }}\n\nThank you for your attention.\n\nBest regards,\nAutomated CV Screening",
        "options": {}
      },
      "id": "42dbdcc0-bbcb-4455-919d-414419ceeb8b",
      "name": "Inform HR New CV Received",
      "type": "n8n-nodes-base.gmail",
      "position": [
        864,
        -64
      ],
      "webhookId": "e969a9f5-631b-4719-a4f6-87e6063cef6a",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Rule 1 : Do not exceed maximum of 75 words. As an AI with advanced capabilities in talent acquisition and human resources, your task is to conduct a thorough and intricate analysis of a candidate's resume or CV against a specific job description. You will assist hiring professionals in discerning the alignment between the candidate's skills, experience, qualifications, and the requirements of the job. Your expert insights will equip employers with a lucid understanding of the candidate's suitability for the role. Very important for you to write output text in ${output_language} language. It's VERY IMPORTANT for me for text be in ${output_language} or I will be fired. Your analysis should follow this structured format: 1. **Compatibility Rating**: Propose an overall compatibility rating on a scale from 1 (not compatible) to 10 (perfect fit). Support your rating by elucidating the rationale behind it. 2. **Recommendation**: Informed by your analysis and compatibility rating, offer a recommendation on whether the employer should consider this candidate for an interview. Furnish a well-argued explanation for your recommendation. Remember, your analysis should be comprehensive, professional, and actionable. It should equip an employer with a vivid understanding of the candidate's suitability for the role. This isn't merely about ticking off boxes; it's about illustrating a comprehensive picture of how well the candidate might fit into the role and complement the existing team. Here is your task: Analyze the compatibility of the following candidate's resume with the provided job description. Endeavor to apply your deep understanding of talent evaluation to provide the most insightful analysis. Job description: \"Software Engineer\" Resume: ${resume}\nNo Markdown Please, only plain text. Please no double '**'"
            }
          ]
        }
      },
      "id": "6d0e035f-0e86-4e68-948f-1254994ba5b3",
      "name": "Using AI Analysis & Rating",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        288,
        -64
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Your_Resume_CV",
        "options": {}
      },
      "id": "47913e62-3ba0-43fd-af64-0e8d0556381c",
      "name": "Convert Binary to Json",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        80,
        -64
      ],
      "retryOnFail": false,
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Application for Software Engineer Position",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail",
              "requiredField": true
            },
            {
              "fieldLabel": "Expectation",
              "placeholder": "2000-3000$",
              "requiredField": true
            },
            {
              "fieldLabel": "Linkedin",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Resume/CV",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "764799e1-2b79-4655-9cfc-41017e5cfb46",
      "name": "Application Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -128,
        -64
      ],
      "webhookId": "c6072725-fb9f-4f4c-86fa-2326668aa06b",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1y4FFMXTuznSf2wWUraK57eBJnu4MVtgkxrGYRzRMwDQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y4FFMXTuznSf2wWUraK57eBJnu4MVtgkxrGYRzRMwDQ/edit?usp=drivesdk",
          "cachedResultName": "CV of Software Engineers"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1y4FFMXTuznSf2wWUraK57eBJnu4MVtgkxrGYRzRMwDQ/edit#gid=0",
          "cachedResultName": "পত্রক1"
        },
        "columns": {
          "value": {
            "CV": "={{ $('Application Form').item.json['Your Resume/CV'][0].filename }}",
            "E-mail": "={{ $('Application Form').item.json['E-mail'] }}",
            "Linkedin": "={{ $('Application Form').item.json.Linkedin }}",
            "AI Rating": "={{ $json.text }}",
            "Full Name": "={{ $('Application Form').item.json['Full Name'] }}",
            "Expectation": "={{ $('Application Form').item.json.Expectation }}"
          },
          "schema": [
            {
              "id": "CV",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CV",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "E-mail",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Expectation",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Expectation",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Linkedin",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Rating",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "AI Rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "9165cef8-571f-48f4-8094-c3e91f6ee4a3",
      "name": "Candidate Lists",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        656,
        -64
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "content": "# AI Resume Screener for Hiring Teams\n\nThis workflow automates candidate intake and initial resume screening for a Software Engineer role.\n\n## What it does\n- Collects candidate details through an n8n form\n- Accepts resume uploads in PDF format\n- Extracts text from the uploaded resume\n- Uses Google Gemini to analyze the resume against the job role\n- Generates a short compatibility rating and interview recommendation\n- Stores candidate data and AI feedback in Google Sheets\n- Sends an email notification to HR\n- Sends a confirmation email to the candidate\n\n## Inputs\n- Full Name\n- E-mail\n- Salary Expectation\n- LinkedIn Profile\n- Resume/CV (PDF)\n\n## Outputs\n- AI-generated candidate fit summary\n- Candidate record in Google Sheets\n- HR notification email\n- Candidate confirmation email\n\n## Use cases\n- Startup hiring\n- Recruitment automation\n- Initial candidate screening\n- Reducing manual resume review time\n\n## Notes\n- The current prompt is configured for a Software Engineer role\n- You can easily modify the prompt for other job positions\n- Make sure your Google Sheets, Gmail, and Gemini credentials are connected before running the workflow",
        "height": 976,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        -112
      ],
      "typeVersion": 1,
      "id": "8f680bb7-1893-45ba-8ec0-21a029cdfea2",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Using AI Analysis & Rating",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Inform HR New CV Received": {
      "main": [
        [
          {
            "node": "Confirmation of CV Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Using AI Analysis & Rating": {
      "main": [
        [
          {
            "node": "Candidate Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Binary to Json": {
      "main": [
        [
          {
            "node": "Using AI Analysis & Rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Application Form": {
      "main": [
        [
          {
            "node": "Convert Binary to Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Lists": {
      "main": [
        [
          {
            "node": "Inform HR New CV Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "99231317-a23b-4aa2-8de1-f9b26f2b52b0",
  "meta": {
    "instanceId": "8e6f3ac3144893b6e147028a714235896dc8288132d5642eebb46b1fbd83fcfc"
  },
  "id": "jyVWqWSWF30SCAvk",
  "tags": []
}