ai-hr-automation-workflows/HR Helpdesk Assistant.json
{
  "name": "HR Helpdesk Assistant",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "13736ca6-576b-404b-90a5-8dd4946ceaee",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        5456,
        2592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "id": "766b0967-fd78-4653-8b92-a20ba09d7a32",
      "name": "Create HR Policies",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        5712,
        2592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7b6bdfd3-be82-4f1a-8042-6209cd76f0ab",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        5504,
        1936
      ],
      "webhookId": "65f501de-3c14-4089-9b9d-8956676bebf3",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "leftValue": "={{ $json.message.keys()}}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d16eb899-cccb-41b6-921e-172c525ff92c",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "leftValue": "={{ $json.message.keys()}}",
                    "rightValue": "voice"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "6aead120-15f1-46b1-9f25-f48985730ddf",
      "name": "Verify Message Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        5712,
        1920
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "e0573aef-8eec-49ad-aab3-1fbbe2210a5c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        6256,
        2048
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "ab7b5963-1c7e-4656-ad22-4d8c5fa13660",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        6064,
        2048
      ],
      "typeVersion": 1.2,
      "webhookId": "fb3539ae-3a1f-410e-b002-055ca837f91a"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "I'm not able to process this message type.",
        "additionalFields": {}
      },
      "id": "40a475ee-f54c-4ff1-b5ad-60a91116a2c3",
      "name": "Unsupported Message Type",
      "type": "n8n-nodes-base.telegram",
      "position": [
        5744,
        2224
      ],
      "typeVersion": 1.2,
      "webhookId": "22913603-719f-478c-8bf3-f562c99fbfd6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant for HR and employee policies"
        }
      },
      "id": "5900ba54-a607-45ab-906a-722c6776dbf8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        6624,
        1920
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "5a417761-b544-48b0-9071-f81c523aa3b6",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        6672,
        2224
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "name": "hr_employee_policies",
        "description": "data for HR and employee policies"
      },
      "id": "bc7bd5de-a612-4149-925a-2549f4237ee4",
      "name": "Answer questions with a vector store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        6832,
        2224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "26d0928c-7b06-4284-b5b3-913f8ed9f029",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        6752,
        2432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "42c40397-df31-4ef7-b64a-e96ef6b32a88",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        7072,
        1920
      ],
      "typeVersion": 1.2,
      "webhookId": "010ab9d0-e3a9-4e03-b874-36d0b6d26347"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "403b336f-87ce-4bef-a5f2-1640425f8198",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "db9d03c0-c4f0-478a-afb2-18f037122c10",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        6144,
        1792
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7b3fc25d-63a7-40fb-9bc1-b2299c688ae1",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        5712,
        2832
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "options": {}
      },
      "id": "e8fa0fcf-ed6d-4a6f-95a5-e5ea1693161d",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        5872,
        2832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "id": "98ba9096-c436-4a89-8600-fd6ccbe1f20f",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        5888,
        3024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "19b3e2af-4751-40f5-809e-75537636f27e",
      "name": "OpenAI Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        6528,
        2224
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d547759b-f9d0-4b15-b246-81385a9b7b1e",
      "name": "OpenAI Chat Model7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        7104,
        2432
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "37985a1f-4a93-4fa7-b2b7-32aa9b5c3731",
      "name": "Embeddings OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        6752,
        2608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# Telegram AI HR Helpdesk Bot\n\nThis workflow creates an AI-powered HR helpdesk chatbot on Telegram.\n\n## What it does\n- Accepts employee queries via Telegram (text or voice)\n- Transcribes voice messages into text\n- Uses internal policy documents as a knowledge base\n- Answers questions using vector search (RAG)\n- Maintains chat context using memory\n- Sends responses back on Telegram\n\n## Use cases\n- HR helpdesk automation\n- Employee support\n- Policy and FAQ chatbot\n- Internal support bot\n\n## Notes\n- Uses PostgreSQL (PGVector) for vector storage\n- Requires Telegram bot setup\n- Supports both text and voice queries",
        "height": 608,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4752,
        2016
      ],
      "typeVersion": 1,
      "id": "b4c9e487-9509-4aef-b731-0adbf9661734",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Create HR Policies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Verify Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Message Type": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Create HR Policies",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Create HR Policies",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6ead37ce-f794-4641-a8ea-b35354eb4037",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e6f3ac3144893b6e147028a714235896dc8288132d5642eebb46b1fbd83fcfc"
  },
  "id": "jyVWqWSWF30SCAvk",
  "tags": []
}